/* ------------------------------------------------------------

Nature Responsive Grid
Author: Alex Kilgour
Version: 2.0

------------------------------------------------------------ */

/* Fluid --------------------------------------------------- */

/* anything with the "grid" or "grid-ng" class should be treated as a wrapper. no left/right margin/padding to be put on this element */

.grid,
.grid-ng {
        float: left;
        margin-right: 2.34375% !important; /* this should not be overwritten. breaks grid. */
        padding-left: 0 !important; /* padding left breaks the grid. Once we drop ie7 support we can use box-sizing. */
        padding-right: 0 !important; /* padding right breaks the grid. Once we drop ie7 support we can use box-sizing. */
}
.grid-ng,
.last {
        margin-right: 0 !important; /* this should not be overwritten. breaks grid. */
}

.grid-1 {
        width: 6.18489583333%;
}
.grid-2 {
        width: 14.7135416667%;
}
.grid-3 {
        width: 23.2421875%;
}
.grid-4 {
        width: 31.7708333333%;
}
.grid-5 {
        width: 40.2994791666%;
}
.grid-6 {
        width: 48.828125%;
}
.grid-7 {
        width: 57.3567708333%;
}
.grid-8 {
        width: 65.8854166666%;
}
.grid-9 {
        width: 74.4140625%;
}
.grid-10 {
        width: 82.9427083333%;
}
.grid-11 {
        width: 91.4713541667%;
}
.grid-12 {
        width: 100%;
        margin-right: 0 !important;
}

/* no gutter version uses the ng notation */

.grid-ng-1 {
        width: 8.33333333333%;
}
.grid-ng-2 {
        width: 16.6666666667%;
}
.grid-ng-3 {
        width: 25%;
}
.grid-ng-4 {
        width: 33.3333333333%;
}
.grid-ng-5 {
        width: 41.6666666667%;
}
.grid-ng-6 {
        width: 50%;
}
.grid-ng-7 {
        width: 58.3333333333%;
}
.grid-ng-8 {
        width: 66.6666666667%;
}
.grid-ng-9 {
        width: 75%;
}
.grid-ng-10 {
        width: 83.3333333333%;
}
.grid-ng-11 {
        width: 91.6666666667%;
}
.grid-ng-12 {
        width: 100%;
        margin-right: 0 !important;
}


/* Margins --------------------------------------------------- */
/* moves column x columns in chosen direction ----------------- */

.grid-left-1 {
        margin-left: 8.52864583333%;
}
.grid-left-2 {
        margin-left: 17.0572916667%;
}
.grid-left-3 {
        margin-left: 25.5859375%;
}
.grid-left-4 {
        margin-left: 34.1145833333%;
}
.grid-left-5 {
        margin-left: 42.6432291666%;
}
.grid-left-6 {
        margin-left: 51.171875%;
}
.grid-left-7 {
        margin-left: 59.7005208333%;
}
.grid-left-8 {
        margin-left: 68.2291666666%;
}
.grid-left-9 {
        margin-left: 76.7578125%;
}
.grid-left-10 {
        margin-left: 85.2864583333%;
}
.grid-left-11 {
        margin-left: 93.8151041667%;
}

.grid-left-ng-1 {
        margin-left: 8.33333333333%;
}
.grid-left-ng-2 {
        margin-left: 16.6666666667%;
}
.grid-left-ng-3 {
        margin-left: 25%;
}
.grid-left-ng-4 {
        margin-left: 33.3333333333%;
}
.grid-left-ng-5 {
        margin-left: 41.6666666667%;
}
.grid-left-ng-6 {
        margin-left: 50%;
}
.grid-left-ng-7 {
        margin-left: 58.3333333333%;
}
.grid-left-ng-8 {
        margin-left: 66.6666666667%;
}
.grid-left-ng-9 {
        margin-left: 75%;
}
.grid-left-ng-10 {
        margin-left: 83.3333333333%;
}
.grid-left-ng-11 {
        margin-left: 91.6666666667%;
}

/* NOTE: when using right margins, do NOT combine with "last" class. */

.grid-right-1 {
        margin-right: 8.52864583333% !important;
}
.grid-right-2 {
        margin-right: 17.0572916667% !important;
}
.grid-right-3 {
        margin-right: 25.5859375% !important;
}
.grid-right-4 {
        margin-right: 34.1145833333% !important;
}
.grid-right-5 {
        margin-right: 42.6432291666% !important;
}
.grid-right-6 {
        margin-right: 51.171875% !important;
}
.grid-right-7 {
        margin-right: 59.7005208333% !important;
}
.grid-right-8 {
        margin-right: 68.2291666666% !important;
}
.grid-right-9 {
        margin-right: 76.7578125% !important;
}
.grid-right-10 {
        margin-right: 85.2864583333% !important;
}
.grid-right-11 {
        margin-right: 93.8151041667% !important;
}

.grid-right-ng-1 {
        margin-right: 8.33333333333% !important;
}
.grid-right-ng-2 {
        margin-right: 16.6666666667% !important;
}
.grid-right-ng-3 {
        margin-right: 25% !important;
}
.grid-right-ng-4 {
        margin-right: 33.3333333333% !important;
}
.grid-right-ng-5 {
        margin-right: 41.6666666667% !important;
}
.grid-right-ng-6 {
        margin-right: 50% !important;
}
.grid-right-ng-7 {
        margin-right: 58.3333333333% !important;
}
.grid-right-ng-8 {
        margin-right: 66.6666666667% !important;
}
.grid-right-ng-9 {
        margin-right: 75% !important;
}
.grid-right-ng-10 {
        margin-right: 83.3333333333% !important;
}
.grid-right-ng-11 {
        margin-right: 91.6666666667% !important;
}


/* IE7 Styles (fixed width) --------------------------------------------------- */
/* column widths rounded down to fix IE7 rounding issue ----------------------- */

.ie7 .grid {
        margin-right: 2.2% !important; /* this should not be overwritten. breaks grid. */
}
.ie7 .last {
        margin-right: 0 !important; /* this should not be overwritten. breaks grid. */
}

.ie7 .grid-1 {
        width: 6%;
}
.ie7 .grid-2 {
        width: 14.6%;
}
.ie7 .grid-3 {
        width: 23.1%;
}
.ie7 .grid-4 {
        width: 31.6%;
}
.ie7 .grid-5 {
        width: 40.1%;
}
.ie7 .grid-6 {
        width: 48.7%;
}
.ie7 .grid-7 {
        width: 57.2%;
}
.ie7 .grid-8 {
        width: 65.7%;
}
.ie7 .grid-9 {
        width: 74.3%;
}
.ie7 .grid-10 {
        width: 82.8%;
}
.ie7 .grid-11 {
        width: 91.3%;
}
.ie7 .grid-12 {
        width: 100%;
        margin-right: 0 !important;
}

.ie7 .grid-ng-1 {
        width: 8.2%;
}
.ie7 .grid-ng-2 {
        width: 16.5%;
}
.ie7 .grid-ng-3 {
        width: 24.9%;
}
.ie7 .grid-ng-4 {
        width: 33.2%;
}
.ie7 .grid-ng-5 {
        width: 41.5%;
}
.ie7 .grid-ng-6 {
        width: 49.9%;
}
.ie7 .grid-ng-7 {
        width: 58.2%;
}
.ie7 .grid-ng-8 {
        width: 66.5%;
}
.ie7 .grid-ng-9 {
        width: 74.9%;
}
.ie7 .grid-ng-10 {
        width: 83.2%;
}
.ie7 .grid-ng-11 {
        width: 91.5%;
}
.ie7 .grid-ng-12 {
        width: 100%;
        margin-right: 0 !important;
}

/* margins */

.ie7 .grid-left-1 {
        margin-left: 8.4%;
}
.ie7 .grid-left-2 {
        margin-left: 17%;
}
.ie7 .grid-left-3 {
        margin-left: 25.4%;
}
.ie7 .grid-left-4 {
        margin-left: 34%;
}
.ie7 .grid-left-5 {
        margin-left: 42.5%;
}
.ie7 .grid-left-6 {
        margin-left: 51%;
}
.ie7 .grid-left-7 {
        margin-left: 59.6%;
}
.ie7 .grid-left-8 {
        margin-left: 68.1%;
}
.ie7 .grid-left-9 {
        margin-left: 76.6%;
}
.ie7 .grid-left-10 {
        margin-left: 85.1%;
}
.ie7 .grid-left-11 {
        margin-left: 93.7%;
}

.ie7 .grid-left-ng-1 {
        margin-left: 8.2%;
}
.ie7 .grid-left-ng-2 {
        margin-left: 16.5%;
}
.ie7 .grid-left-ng-3 {
        margin-left: 24.9%;
}
.ie7 .grid-left-ng-4 {
        margin-left: 33.2%;
}
.ie7 .grid-left-ng-5 {
        margin-left: 41.5%;
}
.ie7 .grid-left-ng-6 {
        margin-left: 49.9%;
}
.ie7 .grid-left-ng-7 {
        margin-left: 58.2%;
}
.ie7 .grid-left-ng-8 {
        margin-left: 66.5%;
}
.ie7 .grid-left-ng-9 {
        margin-left: 74.9%;
}
.ie7 .grid-left-ng-10 {
        margin-left: 83.2%;
}
.ie7 .grid-left-ng-11 {
        margin-left: 91.5%;
}

.ie7 .grid-right-1 {
        margin-right: 8.4% !important;
}
.ie7 .grid-right-2 {
        margin-right: 17% !important;
}
.ie7 .grid-right-3 {
        margin-right: 25.4% !important;
}
.ie7 .grid-right-4 {
        margin-right: 34% !important;
}
.ie7 .grid-right-5 {
        margin-right: 42.5% !important;
}
.ie7 .grid-right-6 {
        margin-right: 51% !important;
}
.ie7 .grid-right-7 {
        margin-right: 59.6% !important;
}
.ie7 .grid-right-8 {
        margin-right: 68.1% !important;
}
.ie7 .grid-right-9 {
        margin-right: 76.6% !important;
}
.ie7 .grid-right-10 {
        margin-right: 85.1% !important;
}
.ie7 .grid-right-11 {
        margin-right: 93.7% !important;
}

.ie7 .grid-right-ng-1 {
        margin-right: 8.2% !important;
}
.ie7 .grid-right-ng-2 {
        margin-right: 16.5% !important;
}
.ie7 .grid-right-ng-3 {
        margin-right: 24.9% !important;
}
.ie7 .grid-right-ng-4 {
        margin-right: 33.2% !important;
}
.ie7 .grid-right-ng-5 {
        margin-right: 41.5% !important;
}
.ie7 .grid-right-ng-6 {
        margin-right: 49.9% !important;
}
.ie7 .grid-right-ng-7 {
        margin-right: 58.2% !important;
}
.ie7 .grid-right-ng-8 {
        margin-right: 66.5% !important;
}
.ie7 .grid-right-ng-9 {
        margin-right: 74.9% !important;
}
.ie7 .grid-right-ng-10 {
        margin-right: 83.2% !important;
}
.ie7 .grid-right-ng-11 {
        margin-right: 91.5% !important;
}

/* End --------------------------------------------------- */