/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding-top:24px;
	background-color: #743A30;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Cousine,"Courier New",Sans-serif;
  text-align:center;
  position: relative; min-height: 100%; top: 0px;
  color: #543534;
}


#frame {
  background-color: #ffffff;
  background-image:url('/assets/images/dregs_320.png');
  background-repeat:no-repeat;
  background-position: left top;

  width:1200px;
  margin: 0px auto;
  padding: 0px;
  border: 5px solid #F9AD20;
}

#header  {
  margin-top: 24px;
}

h1 {
  font-size: 8em;
  margin-bottom: 8px;
}
.small-caps
{
font-variant:small-caps;
font-size: 0.7em;
}

#main-form {
    font-size:18px;
    width: 580px;
    margin-top:24px;
    margin-left:300px;
    padding: 12px;
    text-align:left;
    border: 1px solid #fff;
    line-height: 1.8em;
}

#main-form label {
    margin-bottom:4px;
}

#test_form {
    width: 580px;
    margin:0px;
}

#results {
    border: 1px solid #898989;
    width: 100%;
}

#test {
    width: 100%;
}

#regex {
    width: 555px;
}

#regex, #test, #results {
    color: #111;
    background-color:#ffeedd;
}

.highlighted {
    background-color: #121212;
    color: #e2e2e2;
}

.red-underline  {
    color: red;
    text-decoration: underline;
}

.quote {
    margin:6px;
}

.fine-print{
    font-size: 75%;
}

textarea, input {
    font-size: 1em;
}

#footer {
    margin-bottom:4px;
}

a:link {color:#6A3737;}     /* unvisited link */
a:visited {color:#6A3737;}  /* visited link */
a:hover {color:#ff8536;}    /* mouse over link */
a:active {color:#6A3737;}   /* selected link */

