@(title: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>

    </head>
<body>
<div id="frame">
    <div id="header">
        <h1>D<span class="small-caps">REG</span>S</h1>
        <h3>A Java regular expression editor *</h3>
    </div>

    <div id="content">

        <div id="main-form">


<table  id="test_form">

<tr><td></td> <td>Test string:</td><td></td></tr>
<tr><td></td> <td><textarea width="100%" id="test" name="test" rows="2" tabindex="1"></textarea></td><td></td></tr>
<tr><td></td> <td><label id="regex_label" for="regex">Regular expression:</label></td>               <td></td></tr>
<tr><td>" </td><td><input type="text" id="regex" autocomplete="off" width="531px" name="search" width="100%" tabindex="2"/></td>          <td>"</td></tr>
<tr><td></td> <td><label class="fine-print" title="">Allow unescaped "\"  <input id="allowUnescaped" name="allowUnescaped" type="checkbox" tabindex="3" /></label></td><td></td></tr>
<tr><td></td> <td><label for="results">Matches:</label></td>                                         <td></td></tr>
<tr><td></td> <td><div id="results"><br /></div></td>                                                <td></td></tr>

</table>
        </div><!-- close main-form -->



        <p style="visibility:hidden;"><br></p>


        <div id="footer">
           <span class="fine-print">* and shameless <a href="http://rubular.com">Rubular</a> rip-off. <a href="https://github.com/cmcenearney/dregs">On github</a>.</span>
        </div>





    </div><!-- close content -->

</div><!-- close frame -->

<script src="@routes.Assets.at("javascripts/dregs.js")" type="text/javascript"></script>
</body>
</html>