
               <form  id="test_form">

                    <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                        <input name="authenticity_token" type="hidden" value="wcqvv4+Yw5KHF+wmFDHTR16MEhEHs6ScvIArpknQvqs=" />
                    </div>

                    <label for="test">Test string:</label> <br />
                    <textarea width="500px" id="test" name="test" rows="2" tabindex="1"></textarea>
                     <br />

                    <label id="regex_label" for="regex">Regular expression:</label><br />

                    <span class="quote">"</span>
                     <input type="text" id="regex" name="search" size="40" tabindex="2"/>
                    <span class="quote">"</span>
        <br />
        <label class="fine-print" title="Dregs emulates standard IDE behavior, where backslashes in String literals must be escaped.
Check here to turn this off and allow unescaped '\', for Groovy emulation of just 'cuz.">
        Allow unescaped "\"  <input id="allowUnescaped" name="allowUnescaped" type="checkbox" tabindex="3" /></label>
        <br />


                      <label for="results">Results:</label>
                        <div id="results">
                        <br /><br />
                        </div>


                </form>